node_modules/
interp1-master/
notUsed/
jsQuestSimulate.html
docs/functions.md
jsPsychDemo/jsQUEST_jsPsychDemo_module.html
jsPsychDemo/weibull-graph.xlsx
simulation/Rscripts/.RData
simulation/Rscripts/.Rhistory
simulation/Rscripts/output.csv
